<!DOCTYPE html>
<html lang="en">
<!--
        __      _     __         
  _____/ /_    (_)___/ /__ _   __
 / ___/ __ \  / / __  / _ \ | / /
/ /__/ / / / / / /_/ /  __/ |/ / 
\___/_/ /_/_/ /\__,_/\___/|___/  
         /___/                   

Greetings traveler!

You have reached the webzone of chjdev!  Since you're snooping around here I
figure you're interested in the source code?  If so, head over to:
https://github.com/chjdev/chjdev.github.io

-->

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <a href="{{ site.baseurl }}/"><img class="mastlogo" src="{{ site.baseurl }}/assets/logo.png"/></a>
        <div class="mastmain">
          <h1 class="masttitle"><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
          <span class="mastspacer">|</span>
          <ul class="mastnav">
            {% for page in site.pages_list %}
              <li><small><a href="{{ page[1]  }}">{{ page[0] }}</a></small></li>
            {% endfor %}
          </ul>
          <br/>
          <small>{{ site.tagline }}</small>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0;display: inline;vertical-align: middle;margin: 0 0 0.25rem;" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" style="color: gray;">Creative Commons Attribution-NonCommercial 4.0 International License</a>
        </small>
      </footer>
    </div>
  </body>
</html>
