---
layout: blog_default
---

{% if page.cram == true %}
<article class="post post-cram">
{% else %}
<article class="post">
{% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}

  <i>You have a question or found an issue?<br/>
     Then head over to Github and open an
     <a href="https://github.com/chjdev/chjdev.github.io/issues" target="_blank">Issue</a> please!</i>
</article>

<div style="width:100%">
{{ page.render }}
</div>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
